.header_title h2
{
	font-family: ''Open Sans',Helvetica,Arial,Lucida,sans-serif';
	font-weight: 300;
	color: #fff !important;
	font-size: 46px;

}
.started_button
{
	background-color:  #C10A27;
	color: white !important;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	border: 2px solid;
	border-radius: 2px;
	padding: 15px 32px;

}
.started_button a
{
	color: white;
	text-decoration: none;
}
.started_button:hover, .started_button:hover span
{
	background-color: white;
	color: #C10A27;
}
.survey-text
{
	font-size: 400;
	color: #fff;
	font-size: 18px;
}
.page-header
{
	width: 100%;
    background: #C10A27;
    border-bottom: 1px solid #C0C1C0;
    z-index: 5000;
}
.page-logo
{
	text-align: center;
    font-weight: 300;
    font-size: 19px;
    color: #fff;
    padding: 5px;
    margin: 0;
    width: 120px;
    background: #fff;	
}
.survey-body
{
	padding: 20px;
    margin-bottom: 100px;
    background: #fff;
    border-radius: 3px;
}
.question-title h4 
{
    color: #C10A27;
    margin-bottom: 30px;
    position: relative;
}
.q-counter {
	width: 100%;
	color: #fff;
	text-align: center;
	height: 50px;
	background: #515353;
	padding-top: 18px;
	position: fixed;
	top: calc(100% - 50px);
	border-top: 1px solid #C0C1C0;
	z-index: 5000;
}


/* Gauge  */
.gauge-container 
{

  width: 400px;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 50%;
  overflow: hidden;
  text-align: center;
  transform: translate(-50%, -50%);
}

.gauge-a 
{
  z-index: 1;
  position: absolute;
  background-color: rgba(255,255,255,.2);

  width: 400px;
  height: 200px;
  top: 0%;
  border-radius: 250px 250px 0px 0px;
}

.gauge-b 
{

  z-index: 3;

  position: absolute;
  background-color: #222;
  width: 250px;
  height: 125px;
  top: 75px;
  margin-left: 75px;
  margin-right: auto;
  border-radius: 250px 250px 0px 0px;
}

.gauge-c 
{
  z-index: 2;
  position: absolute;
  background-color: #5664F9;
  width: 400px;
  height: 200px;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 200px 200px;
  transform-origin: center top;
  transition: all 1.3s ease-in-out;
}
.container:hover .gauge-c 
{  
	transform:rotate(.5turn);

}
.container:hover .gauge-data { color: rgba(255,255,255,1); }

.gauge-data 
{
  z-index: 4;
  color: rgba(255,255,255,.2);
  font-size: 1.5em;
  line-height: 25px;
  position: absolute;
  width: 400px;
  height: 200px;
  top: 90px;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s ease-out;
}
.quest6 input
{
  display: inline-block;
}
